/* ========== VARIABLES ========== */
:root {
    --header-height: 3rem;
    /* ===== Colors ===== */

    /* HSL color mode */
    --first-color: hsl(8, 55%, 50%);
    --first-color-lighter: hsla(8, 55%, 50%, 0.301);
    --first-color-alt: hsl(8, 43%, 42%);
    --first-color-alt-lighter:hsla(0, 55%, 50%, 0.692);
    --text-color: hsl(8, 15%, 45%);
    --text-color-alt: hsl(8, 45%, 25%);
    --background-color: hsl(8, 60%, 98%);
    --background-color-alt: hsl(8, 29%, 76%);

    /* ===== Font and typography ===== */
    --body-font: 'Montserrat', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .70rem;
    --smaller-font-size: .70rem;
    --mini-font-size: .5rem;

    /* ===== Font weight ===== */
    --font-medium: 500;
    --font-semi-bold: 800;

    /* ===== Z index ===== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    --body-margin: 1.7rem;
}
/* Font for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* ========== GLOBALS ========== */
  
* {
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a, a:visited, a:hover{
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    display: block;
    margin: 0;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font: var(--font-semi-bold);
}

header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--background-color);
    height: 3.8rem;
}

/* ========== HEADER/MENU ========== */
.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
}

.header-container a {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#header-logo {
    width: 1.8rem;
}

.navigation-container {
    max-width: 968px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-size: var(--h3-font-size);
}

.hamburger-menu {
    color: var(--text-color);
}

.hamburger-menu:hover {
    color: var(--text-color-alt);
}

#menu-logo {
    color: var(--first-color);
    font-size: var(--h3-font-size);
    align-self: center;
}

.menu-icon:hover,  #open-menu:hover{
    color: var(--text-color-alt);
}

#menu-logo:hover {
    color: var(--first-color-alt);
}

.header {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--background-color);
    padding: .7rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    transition: 0.3s;
    z-index: 10000000;
}

@media screen and (max-width: 767px) {
    .navigation-container {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        padding: 1.5rem 1rem 1rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.0rem 1.0rem 0 0;
        transition: 0.3s;
        font-size: var(--normal-font-size);
    }
}

.navigation-container i {
    padding: 0.25rem;
}

.navigation-container a {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* ========== JAVASCRIPT HELPERS ========== */

#close-menu, #open-menu {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    cursor: pointer;
}

.show-menu {
    bottom: 0;
}

.hide-toggle {
    display: none;
}

/* ========== MAIN ========== */
.main {
    margin: var(--body-margin);
    font-size: var(--normal-font-size);
    margin-top: 4rem;
    margin-bottom: 6rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.stripe {
    width: 100%;
    height: .125rem;
    background-color: var(--first-color-lighter);
    padding: 0rem;
}

h1 {
    font-size: var(--h1-font-size);
    color: var(--text-color-alt);
    font-weight: var(--font-semi-bold);
    margin: 2rem;
    text-align: center;
}

h3 {
    font-size: var(--h3-font-size);
    color: var(--text-color-alt);
    font-weight: var(--font-medium);
    text-align: center;
}

.main-container {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.paragraphs-container {
    color: --text-color;
    font-weight: var(--small-font-size);
    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}


#calendar {
    align-self: center;
    max-width: 40rem;
    width: 100%;
    height: auto;
}

.body-self-links {
    padding-top: 4rem;
    margin-top: -4rem;
} 

#home-container {
    padding-top: 7rem;
    margin-top: -7rem;
}

.body-self-links:hover {
    color: var(--text-color-alt);
}


/* ========== HEADER ========== */
#home-title {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 700;
}

#home-container {
    margin-top: 1px;
}

/* ========== FOOTER ========== */
.footer {
    clear: both;
    height: auto;
    width: 100%;
    background-color: var(--first-color-alt);
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer i {
    color: var(--background-color);
}

.footer a {
    color: var(--background-color);
    text-decoration: underline;
    margin-left: .5rem;
}

#theme-toggle {
    color: var(--background-color);
    text-decoration: underline;
    cursor: pointer;

}

.dark-mode {
    --first-color: hsl(7, 94%, 40%); /* Primary color that other colors derive from. Same color as the JSA logo */
    --first-color-lighter: hsla(7, 55%, 50%, 0.301); /* Same as first color, but lighter opacity */
    --first-color-alt: hsl(7, 63%, 22%); /* Common color used throughout the site. E.g. accordian menu, contact form, and footer. Provides dark red accents */
    --first-color-alt-lighter:hsla(0, 55%, 50%, 0.692); /* Same as first color alt, but lighter opacity */
    --text-color: hsl(8, 15%, 85%); /* Color of most body text */
    --text-color-alt: hsl(8, 25%, 75%); /* Color used for other text, for example, headers and titles */
    --background-color: hsl(8, 10%, 3%); /* Color used as the base background */
    --background-color-alt: hsl(8, 59%, 26%, 0.8); /* Lighter and less saturated background color */
}

/* ========== LEADERSHIP ========== */

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-container > * {
    margin-bottom: 2rem;
}

.person-image {
    width: 100%;
    height: auto;
    padding: 5%;
}

.image-caption-pair {
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: 33%;
    width: 100%;
    height: auto;
}

/* ========== ACCORDIAN ========== */

.accordian-container {
    max-width: 100%;
    margin-top: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accordian-container .accordian-content-box {
    position: relative;
    margin: .5rem 1rem;
}

.accordian-container .accordian-content-box .accordian-label {
    position: relative;
    padding: 1rem;
    padding-left: 2rem;
    background-color: var(--first-color-alt);
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.accordian-container .accordian-content-box .accordian-label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

}

.accordian-container .accordian-content-box.active .accordian-label::before {
    content: '-';
}

.accordian-container .accordian-content-box .content {
    position: relative;
    background: var(--background-color-alt);
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    opacity: 0;
}

.accordian-content-box {
    width: 100%;
}

.accordian-container .accordian-content-box.active .content {
    height: auto;
    padding: 2rem;
    opacity: 1;
}

/* ========== ABOUT ========== */

#accomplishments-subtitle {
    margin: 3rem;
    color: var(--text-color-alt);
    text-decoration: underline;
}

.timeline-container {
    width: 100%;
    height: auto;
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    font-size: var(--smaller-font-size);
}

.timeline-container ul li{
    width: 100%;
    height: 100%;
}

.timeline-container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: var(--text-color);
    left: 50%;
}

.left {
    float: left;
    clear: right;
    transform: translateX(-30px);
}

.right {
    float: right;
    clear: left;
    transform: translateX(30px);
}

.timeline-content {
    padding: 15px;
    background-color: var(--background-color-alt);
    border-radius: 6px;
    width: 50%;
    margin-bottom: 4rem;
}

.timeline-content h3 {
    font-size: var(--normal-font-size);
    line-height: 20px;
    font-weight: 400;
}

.timeline-content p{
    line-height: 20px;
    text-align: center;
}

/* dots */

.timeline-content::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--text-color);
    border-radius: 50%;
    top: 0;
}

.timeline-content:nth-child(odd)::after {
    right: -30px;
    transform: translate(55%, -50%);
}

.timeline-content:nth-child(even)::after {
    left: -30px;
    transform: translate(-45%, -50%);
}

/* ========== CONTACT ========== */
.form-container {
    background: var(--first-color-alt);
    width: 100%;
    min-height: 70vh;
    max-height: 140vh;
    height: 100%;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

form {
    width: 100%;
    height: 80%;
    padding: 2vw 4vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#contact-title {
    color: var(--background-color);
    font-size: var(--h1-font-size);
}

#contact-title:hover {
    color: var(--background-color-alt);
}

form input {
    color: var(--text-color);
    border: none;
    background-color: var(--background-color);
    border-radius: 2px;
    width: 90%;
    height: 20px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-family: inherit;

}

form h3 {
    margin-bottom: 2rem;
}

form textarea{
    border: none;
    background-color: var(--background-color);
    border-radius: 2px;
    width: 90%;
    height: 100%;
    margin: 10px 0;
    font-family: inherit;
    padding: 20px;
    color: var(--text-color);
    width: 100%;
    max-width: 70%;
    min-width: 90%;
    max-height: 50vh;
    min-height: 10rem;
}

form button {
    border: none;
    background-color: var(--background-color);
    border-radius: 2px;
    color: var(--text-color);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px 0;
}

.button-area {
    display: flex;
    flex-direction: column;
}

form span {
    color: var(--background-color);
}

form button:hover {
    background-color: var(--background-color-alt);
    color: var(--first-color-alt);
    cursor: pointer;
}

/* ========== EVENTS ========== */

.image-card-container {
    margin-top: 4rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#calendar {
    width: 100%;
    height: 30rem;
    justify-self: center;
    align-self: center;
    border: red solid 3px;
}

.st-bg, .st-bg-today, .st-dtitle {
    background-color: var(--first-color-alt);
}

.image-card-box {
    background: var(--background-color-alt);
    position: relative;
    flex: 1;
    margin: 20px;
    width: 90%;
    height: auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}

.image-card-box:hover img {
    opacity: 1;
}

.image-card-box .details {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-card-box .details h3 {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.4s;
    transition-property: transform;
}

.image-card-box:hover .details h3 {
    transform: translateY(-30px);
}

.image-card-box .details p {
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: transform, opacity;
}

.image-card-box:hover .details p {
    opacity: 1;
    transform: translateY(-20px);
}

/* ========== TRANSITIONS ========== */

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left, .from-right {
    transition: opacity 250ms ease-in, transform 800ms ease-in;
    opacity: 0;
}

.from-left.appear, .from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

/* ========== PARALLAX ========== */

.parallax-scroll {
    background-size: cover;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    margin-left: calc(-100vw / 2 + 500px / 2);
    margin-right: calc(-100vw / 2 + 500px / 2);
    margin-top: -4rem;

    /* parallax */
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home-scroll-image {
    background-image: url(./leaves-bg.jpeg);
    opacity: 0.80;
}

/* New parallax */
.parallax-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-left: calc(-100vw / 2 + 500px / 2);
    margin-right: calc(-100vw / 2 + 500px / 2); */

    align-self: center;
    justify-self: center;
}

.parallax-container:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--background-color), transparent);
    z-index: 10000;
}

.parallax-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: var(--first-color-alt); */
    z-index: 10000;
    mix-blend-mode: color;
}

.parallax-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    overflow: hidden;
}

#home-title {
    position: relative;
    z-index: 1;
    font-weight: 900;
    font-size: 50px;
    text-shadow: 1.5px 1.5px 10px #000000;
}

#curtain {
    width: 120%;
    height: 120%;
    overflow: hidden;
}

/* ========== MEDIA QUERIES ========== */
/* small device */
@media screen and (max-width: 768px) {

    .main {
        margin-top: 1rem;
    }

    .image-caption {
        font-size: var(--small-font-size);
    }

    .footer {
        margin-bottom: 4rem;
    }

    .parallax-container {
        height: 30vh;
    }

    .parallax-scroll {
        margin-left: -6rem;
        margin-right: -6rem;
    }

    #home-title {
        z-index: 1000000;
        font-size: 1.75rem;
        font-weight: 500;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.125rem;
        padding-right: 0.125rem;
    }

    .header {
        border-radius: 1rem 1rem 0 0;
    }

    #curtain, #signs {
        display: none;
    }

    #home-container {
        padding-top: 0;
    }

    .image-card-box {
        flex: 100%;
    }

    .box-title {
        padding-top: 3rem;
    }

    /* event cards */
    .image-card-box img {
        opacity: 0.8;
    }
    
    .image-card-box .details h3 {
        transform: translateY(-30px);
    }
    
    .image-card-box .details p {
        font-size: var(--mini-font-size);
        opacity: 1;
        transform: translateY(-20px);
    }

    /* timeline */

    #accomplishments-subtitle {
        margin-bottom: 2rem;
    }
    
    .timeline-container::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: var(--text-color);
        left: 50%;
    }
    
    .left {
        transform: translateX(-10px);
    }
    
    .right {
        transform: translateX(10px);
    }
    
    .timeline-content {
        padding: 10px;
        margin-bottom: 0;
    }
    
    .timeline-content p{
        line-height: 12px;
    }
    
    .timeline-content::after {
        height: 10px;
        width: 10px;
    }
    
    .timeline-content:nth-child(odd)::after {
        right: -10px;
        transform: translate(60%, -50%);
    }
    
    .timeline-content:nth-child(even)::after {
        left: -10px;
        transform: translate(-40%, -50%);
    }
}

/* phones only */

@media screen and (max-width: 467px) {
    
}

/* large devices */


@media screen and (min-width: 768px) {

    .navigation-container {
        margin-right: 1rem;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        box-shadow: none;
    }

    .header {
        box-shadow: none;
        border-radius: none;
    }

    header {
        top: 0;
        border-radius: none;
    }

    #close-menu, #open-menu {
        display: none;
    }

    .header-container {
        justify-content: space-between;
        align-items: center;
    }
    
    .hamburger-menu {
        display: none;
    }

    #menu-logo {
        font-size: var(--h2-font-size);
    }

    .menu-icon {
        font-size: 80%;
    }

    .parallax-scroll {
        background-attachment: normal;
    }

    .main-container {
        margin-top: 0;
    }

    .main {
        margin-top: 0;
    }

    .parallax-container {
        top: 0;
    }

    #home-container {
        padding-top: 0;
    }

    #second-home-title {
        padding-top: 5rem;
    }

    /* leadership hover */
    .image-box {
        overflow: hidden;
        transition: 0.5s;
    }

    .image-box:hover {
        z-index: 1;
        transform: scale(1.125);
        box-shadow: 0 25px 40px grey;
        height: 100%;
    }

    /* timeline hover animation */
    .timeline-content:hover:after {
        background-color: var(--text-color-alt);
    }

}
    
/* medium device */
@media screen and (min-width: 768px) and (max-width: 1199px){

    .main-container {
        width: 60%;
    }

    .parallax-scroll {
        height: 20rem;
    }

    .header {
        border-radius: none;
    }
}

/* large device */
@media screen and (min-width: 1200px) {

    .main-container {
        width: 40%;
    }

    .parallax-scroll {
        height: 30rem;
    }

    .header {
        border-radius: none;
    }
}