/* ========== FONTS ========== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

/* ========== VARIABLES ========== */
:root {
    --header-height: 3rem;
    /* ===== Colors ===== */

    /* HSL color mode */
    --first-color: hsl(30, 55%, 50%);
    --first-color-alt: hsl(30, 43%, 42%);
    --text-color: hsl(30, 8%, 45%);
    --text-color-alt: hsl(30, 35%, 25%);
    --body-color: hsl(30, 60%, 98%);

    /* ===== Font and typography ===== */
    --body-font: 'Montserrat', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* ===== Font weight ===== */
    --font-medium: 500;
    --font-semi-bold: 800;

    /* ===== Z index ===== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* ========== GLOBALS ========== */
  
* {
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a, a:visited, a:hover{
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0 0 --header-height 0;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: --text-color;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font: var(--font-semi-bold);
}

/* ========== HEADER ========== */
header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* ========== MENU ========== */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.navigation-container {
    max-width: 968px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

.hamburger-menu {
    color: var(--text-color);
}

.hamburger-menu:hover {
    color: var(--text-color-alt);
}

#menu-logo {
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-left: .5rem;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.menu-icon:hover,  #open-menu:hover{
    color: var(--text-color-alt);
}

#menu-logo:hover {
    color: var(--first-color-alt);
}

.header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: .7rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.0rem 1.0rem 0 0;
    transition: 0.3s;
}

@media screen and (max-width: 767px) {
    .navigation-container {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 1.5rem 1rem 1rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.0rem 1.0rem 0 0;
        transition: 0.3s;
    }
}

.navigation-container i {
    padding: 0.25rem;
}

.navigation-container a {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#close-menu, #open-menu {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    cursor: pointer;
}

/* shows menu */
.show-menu {
    bottom: 0;
}

.hide-toggle {
    display: none;
}

/* ========== MEDIA QUERIES ========== */
/* small device */
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
    
}
    
/* medium device */
@media screen and (max-width: 1199px){

}

/* large device */
@media screen and (min-width: 1200px) {

}